
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #011627;
}

.container {
  width: 100%;
  padding: 10px 15px;
}

/* TABLE */

.table {
  color: #dfdfdf;
  width: 100%;
  text-align: center;
  margin: 20px auto;
  max-width: 1200px;
}

.table, th, td, caption {
  border: 1px solid #363636;
}

caption {
  background-color: aqua;
  text-transform: uppercase;
  color: #011627;
  font-weight: 700;
  padding: 10px;
}

.table thead {
  text-align: center;
  font-weight: 700;
}

/* SEARCH */

.search {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dfdfdf;
}

.search input {
  width: 50%;
  margin-right: 10px;
  margin-left: 10px;
  padding: 3px 8px;
}

.btn-search {
  padding: 3px 8px;
}

.msg {
  display: flex;
  justify-content: center;
  color: #dfdfdf;
  background-color: #0473ce;
  padding: 10px 15px;
  font-size: 20px;
}